@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Hide scrollbar track and thumb */
  ::-webkit-scrollbar {
    width: 0rem;
    /* Adjust this value to change the scrollbar width  */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
    /* Make the thumb transparent */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    /* Make the track transparent */
  }